<!DOCTYPE html>

<h1>Testing my new app</h1>
<img src="http://placekitten.com/800/400" alt="cute kitten">
<p>Lorem ipsum dolor amet vice pok pok keffiyeh umami raclette. 
Beard chartreuse normcore, deep v pug post-ironic wayfarers quinoa godard lomo. 
Post-ironic pinterest raw denim chambray DIY tumeric health goth everyday carry 
before they sold out. Pork belly drinking vinegar artisan small batch, 
vaporware four dollar toast cronut hella listicle. Direct trade vice typewriter, 
tacos semiotics austin bitters single-origin coffee four dollar toast VHS 
chartreuse blue bottle bicycle rights farm-to-table echo park. Palo santo 
dreamcatcher poke lomo, man bun tumeric sriracha kogi kale chips blue bottle. </p>